<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- ! dynamically bind add prop binding -->
      <ion-back-button [defaultHref]="'/places/tabs/offers/' +place?.id">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Edit Offer</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onEditOffer()" [disabled]="!form.valid">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- !reactive form approach -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">edit-offer</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="form">

    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input type="text" formControlName="title"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Short Description</ion-label>
            <ion-textarea rows="3" formControlName="description"> </ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!form.get('description')?.valid && form.get('description')?.touched">
        <ion-col size-sm="6" offset-sm="3">
          <p>Description must be shorter that 180 characters</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Price</ion-label>
            <ion-input type="number" formControlName="price"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-label position="floating">Available From</ion-label>
          <ion-item class="no-ripple">
            <ion-datetime-button slot="end" datetime="startdate" min="2023-01-01"
              max="2025-12-13"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>

                <ion-datetime id="startdate" presentation="date" formControlName="dateFrom" presentation="date"
                  [showDefaultButtons]="true" min="2023-01-01" max="2025-12-13"></ion-datetime>

              </ng-template>
            </ion-modal>
          </ion-item>
        </ion-col>
        <ion-col size-sm="3">
          <ion-label position="floating">Available To</ion-label>
          <ion-item class="no-ripple">
            <ion-datetime-button slot="end" datetime="enddate" min="2023-01-02" max="2025-12-13"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="enddate" presentation="date" formControlName="dateTo" presentation="date"
                  [showDefaultButtons]="true" min="2023-01-02" max="2025-12-13"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
        </ion-col>
      </ion-row>



    </ion-grid>



  </form>





</ion-content>