<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/offers">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-title>New Offers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid>
    <!-- ! default - align-items-stretch / across vertical space -->
    <!-- ! align-items-start /  takes up vertical space as needed -->
    <ion-row class="ion-align-items-center ion-justify-content-center" >
      <ion-col  size="4" size-sm="4" size-md="2" offset-sm="2" offset-md="4" >r1 c1 </ion-col>

      <ion-col size="4" size-sm="4" size-md="3" >
      <ion-card>
        <ion-card-content>
          <h1>The column</h1>
          <p>Row 1 Col 2</p>
        </ion-card-content>
      </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <h1>The column</h1>
            <p>Row 2 Col 1</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <h1>The column</h1>
            <p>Row 2 Col 2</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>



  </ion-grid>
</ion-content>
