ion-modal {
  --background: rgba(44, 39, 45, 0.2);

  &::part(content) {
    backdrop-filter: blur(6px);
  }
  ion-content {
    --padding-top: 25vh;
    --padding-start: 20px;
    --padding-end: 20px;
    --background: transparent;

    ion-datetime {
      border-radius: 8px;
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }
}
